<body>
  <!-- Navbar  -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 header">
    <div class="container">
      <a href="#" style="background: transparent">
        <img
          class="col-12"
          src="https://ansv.vn/ANSV/assets/user/img/header/logo_and_slogan_2.png"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- <div class="mx-auto"></div> -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Banner section  -->
  <section class="banner">
    <div class="banner-image w-100 vh-100"></div>
    <div class="content">
      <div class="container">
        <div class="row vh-100">
          <div class="col-12 col-lg-7 d-flex align-items-center">
            <div class="wrap">
              <h1 class="text-white my-3">
                <span style="font-size: 4rem">Phần mềm ưu việt</span>
                <br />
                <span style="font-size: 2.40625rem">cho nhân viên ưu tú</span>
              </h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
                illum delectus nihil voluptates sit asperiores accusantium enim,
                ut distinctio, quo neque perspiciatis? Suscipit, libero
                voluptatem?
              </p>
              <div>
                <a href="" class="btn btn-primary btn-lg mr-3 mt-1"
                  >Bắt đầu ngay. Hoàn toàn miễn phí</a
                >
                <a href="" class="mt-1 btn btn-primary btn-lg"
                  >Gặp chuyên gia
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-lg-5 d-flex align-items-end justify-content-center image"
          >
            <img
              src="https://odoocdn.com/openerp_website/static/src/img/2020/home/homepage-desktop.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Content Area -->
  <div class="container section1">
    <div class="row pb-5 pt-5">
      <div class="col-12 col-lg-7">
        <div class="image-contain">
          <img
            src="https://media.wired.com/photos/598e35fb99d76447c4eb1f28/master/pass/phonepicutres-TA.jpg"
            alt=""
            class="img1"
          />
          <img
            src="https://www.pikpng.com/pngl/m/210-2107074_cartoon-office-building-clip-art-office-building-png.png"
            alt=""
            class="img2"
          />
        </div>
      </div>
      <div class="col-12 col-lg-5 content1">
        <h2>About us</h2>
        <h1>Landing Page</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ut
          deserunt exercitationem inventore suscipit labore accusamus dolores
          est ipsum illo? Mollitia alias, pariatur perferendis cupiditate nemo
          qui earum saepe officia aspernatur illo delectus at repudiandae nulla
          adipisci aut iusto, quaerat ipsam rerum optio, recusandae ratione.
          Non, explicabo. Amet, magni earum.
        </p>
      </div>
    </div>
  </div>

  <!-- Service -->
  <div class="container section2">
    <h1>Our Services</h1>
    <div class="row">
      <div class="service">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <h2>Web design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <h2>Web design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <h2>Web design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <h2>Web design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <h2>Web design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

  <footer></footer>
</body>
